<form class="col col-lg-12 edit-team-players dashboard">
   <h3 class="dashboard-title">Click on the Players to add them in the team</h3>
   <ul class="dashboard-player-group">
      {{#each this.players}}
      <li class="player-card">
         
         <input id="select-players" type="checkbox" value="{{this.id}}" name="select-players"/>

         <img class="player-card-img" src="/images/placeholder.svg" alt="card image cap">
         <div class="player-card-body">
            <h5 class="player-card-title">{{this.player_name}}</h5>
            <p class="player-card-text">Bats: {{this.bats}} | Throws: {{this.throws}}</p>
            <p class="player-card-text">Position: {{this.position}}</p>
            <a href="#" class="btn btn-primary">Show Stats</a>
         </div>
      </li>
      {{/each}}
   </ul>
   <button type='submit' class="add-players-btn btn btn-outline-dark"> Add Players </button>
</form> 

<script src="/javascript/add-team.js"></script>