<section class="container">
   <section class="row dashboard-wrapper">
      <section class="col col-lg-2 dashboard-teams dashboard">
         <h3 class="dashboard-title">Teams</h3>
         <ul class="dashboard-team-group list-group">
            {{#each user.teams}}
            <li class="team list-group-item d-flex justify-content-between align-items-center">
               <a href="/dashboard/edit-team/{{this.id}}">{{this.team_name}}</a>
               <a href='dashboard/add-team/{{this.id}}' class="badge badge-light">Add</a>
            </li>
            {{/each}}
         </ul>
         <a href="/dashboard/create-team" class="dashboard-btn btn btn-primary btn-lg btn-block">Create Team</a>
      </section>

      <section class="col col-lg-10 dashboard-players  dashboard">
         <h3 class="dashboard-title">My Players</h3>
         <a href="/dashboard/create-player" class="dashboard-btn create-player-btn btn btn-primary btn-lg btn-block">Create Player</a>
         <a href="/dashboard/batting-roster" class="dashboard-btn batting-roster-btn btn btn-primary btn-lg btn-block">Set Batting Roster</a>
         <ul class="dashboard-player-group">
            {{#each user.players}}
            <li class="player-card">
               <img class="player-card-img" src="images/placeholder.svg" alt="card image cap">
               <div class="player-card-body">
                  <h5 class="player-card-title">{{this.player_name}}</h5>
                  <p class="player-card-text">Bats: {{this.bats}} | Throws: {{this.throws}}</p>
                  <p class="player-card-text">Position: {{this.position}}</p>
                  <a href="/dashboard/single-player/{{this.id}}" class="btn btn-primary">Show Stats</a>
               </div>
            </li>
            {{/each}}
         </ul>
      </section>
      {{!-- <section class="col col-lg-1 dashboard-create  dashboard">
         <button>Create a Team</button>
         <button>Create a Player</button>
      </section> --}}
   </section>
   
</section>